.not-found {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.navbar {
  display: grid;
  grid-template-columns: 14rem 1fr 1fr;
  align-items: center;
}

.navbar div > img {
  width: 6rem;
}

.navbar input {
  border-radius: 0.5rem;
  border: transparent;
  justify-self: start;
  margin-left: 0.5rem;
  padding: 0.3rem;
  width: 12rem;
  text-align: center;
}

.navbar input::placeholder {
  color: #111;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation-buttons {
  display: flex;
  justify-self: end;
  gap: 0.5rem;
}

.navigation-buttons a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation-buttons a:hover {
  color: #001350;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer article {
  justify-self: center;
}

.footer article > p {
  margin: 0.2rem 0;
  text-align: justify;
}

.footer article > a {
  display: flex;
  text-decoration: none;
  text-align: justify;
  transition: color 0.3s ease;
  color: #fff;
  width: max-content;
}

.footer article > a:hover {
  color: #001350;
}

.tags {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  margin: 0;
}

.tags li {
  width: 10rem;
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
  list-style: none;
  transition: color 0.3s ease;
}

.tags li:hover {
  color: #32a3ff;
}

.tags-toggled {
  width: max-content;
  padding: 0.5rem 0;
  margin: 0;
  background-color: #001350;
  color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.tags li:hover .tags-toggled {
  visibility: visible;
  opacity: 1;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.home-content div {
  width: 40%;
  text-align: center;
}

.home-content div > * {
  width: fit-content;
  margin: 0.5rem 0;
}

.home-content h2 {
  font-size: 3rem;
}

.home-content p {
  padding: 0 0 1rem 0;
  margin: 0;
}

.home-content ul {
  margin: 0;
}

.home-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
}

.about-content div > h3 {
  margin: 0;
  text-align: center;
}

.about-content div {
  padding: 0 1rem;
  text-align: justify;
}

.about-content div > p {
  margin: 0;
}

.about-photo {
  display: flex;
  justify-content: center;
}

.opinion-content {
  display: flex;
  justify-content: space-around;
}

.opinion-content form:first-child {
  width: 50%;
}

.opinion-content form > h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.opinion-content form > p {
  margin: 0;
  text-align: justify;
}

.opinion-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opinion-content form > * {
  padding: 0.5rem;
}

.opinion-content form > textarea {
  border-radius: 0.5rem;
  width: 40rem;
  height: 8rem;
  padding: 0.2rem 0.4rem;
}

.opinion-content form > input {
  border-radius: 0.5rem;
  border: 1px solid black;
  width: 15rem;
  padding: 0.2rem 0.4rem;
}

.opinion-content form > button {
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 5rem;
  margin-top: 0.7rem;
  background-color: #32a3ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.opinion-content form > button:hover {
  background-color: #001350;
}

.opinion-content div > img {
  width: 25rem;
}

.authors-content {
  display: flex;
  text-align: justify;
}

.authors-content h3 {
  text-align: center;
  margin: 0;
}

.authors-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 1rem;
}

.authors-content div > p {
  margin: 0;
  padding: 1rem 0;
}

.authors-content div > img {
  width: 15rem;
}

.authors-content div:last-child > img:first-child {
  width: 12rem;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-content > * {
  display: flex;
  flex-direction: column;
}
