body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

main {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'navigation'
    'aside'
    'content'
    'footer';
  height: 100svh;
  width: 100%;
}

header {
  text-align: center;
  background-color: #32a3ff;
  color: #fff;
  padding: 0rem 1rem;
  grid-area: navigation;
}

nav {
  color: #fff;
  grid-area: aside;
  top: 0;
  position: sticky;
  background-color: #001350;
}

.nav-scrolled {
  color: #fff;
  grid-area: aside;
  top: 0;
  position: sticky;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 19, 80, 0.8);
  backdrop-filter: blur(4px);
}

section {
  grid-area: content;
}

footer {
  text-align: center;
  background-color: #32a3ff;
  color: #fff;
  padding: 10px;
  grid-area: footer;
}
